*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, rgb(103, 178, 111), rgb(76, 162, 205));
    font: 14px sans-serif;
    -webkit-font-smoothing: antialiased !important;
}